/* General */
.home-container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .welcome-message {
    text-align: center;
    color: #333;
  }
  
  .info-section {
    margin-top: 20px;
  }
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }
  
  /* Tarjetas */
  .card {
    flex: 1 1 calc(25% - 20px);
    position: relative;
    border-radius: 10px;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 150px; /* Aumenta la altura mínima */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .card-content {
    z-index: 1;
  }
  
  .card-value {
    font-size: 2.5rem; /* Tamaño aumentado */
    margin: 0;
  }
  
  .card-label {
    margin: 10px 0 0;
    font-size: 1.2rem;
  }
  
  .background-icon {
    position: absolute;
    font-size: 120px; /* Tamaño aumentado del ícono */
    color: rgba(255, 255, 255, 0.15); /* Opacidad reducida */
    right: 10px; /* Más cerca del borde derecho */
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
  }
  
  /* Colores específicos para cada tarjeta */
  .ventas {
    background-color: #2ecc71; /* Verde */
  }
  
  .ingresos {
    background-color: #3498db; /* Azul */
  }
  
  .inventario {
    background-color: #e67e22; /* Naranja */
  }
  
  .proveedores {
    background-color: #9b59b6; /* Morado */
  }
  
  /* Información adicional */
  .additional-info {
    margin-top: 30px;
  }
  
  .additional-info ul {
    list-style-type: none;
    padding: 0;
  }
  
  .additional-info li {
    font-size: 1rem;
    margin: 5px 0;
  }
  