.stock-alto {
    background-color: #d4edda; /* Verde claro */
  }
  
  .stock-medio {
    background-color: #fff3cd; /* Amarillo claro */
  }
  
  .stock-bajo {
    background-color: #f8d7da; /* Rojo claro */
  }
  